/appendfilePython.py
/Final_Extraction.xlsx
/generatefile.py
/Learn.py
/listdown_today_files_into_txt.py
/listdown_yesterday_files_into_txt.py
/Masterfile.xlsx
/missing_today_files_report.txt
/my_program.py
/ReadFiles.py
/READFROMEXCELPRACTICE.py
/readwriteexcel.py
/Report Template.xlsx
/RWMetadataToText.py
/RWMetadataToXLXS.py